.infoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 23, 23, 0.66);
  backdrop-filter: blur(23px);
  visibility: hidden;
  opacity: 0;
  transition: all .6s ease;
  color: white;
  z-index: 1;
}

.infoContainerVisible {
  visibility: visible;
  opacity: 1;
  transition: all .4s ease;
}

.infoContainerLayout {
  max-width: 768px;
  padding: 120px 15px 60px;
  text-align: left;
}

.infoContainerLayoutStack {
  display: flex;
  gap: 180px;

  p{
    font-family: var(--fontAmerica);
  }
}

.socialList {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 4px 0;
    a {
      color: inherit;
    }
  }

  svg {
    width: 14px;
    height: 14px;
  }
}
