.projectIndex {
  padding: 180px 15px 40px;
}

.projectIndexItem {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 500;
  transition: transform .2s ease-in-out;
  display: block;

  &:hover {
    transform: skewX(-16deg);
    //transform: translateX(12px);
  }
}
