@use "src/styles/_breakpoints.scss";

.terminal {
    z-index: 9999;
    position: fixed;
    border: 1px solid var(--terminal-border-color);
    border-radius: var(--terminal-radius);
    background-color: var(--terminal-background-color);
    width: 340px;
    height: 300px;
    filter: drop-shadow(0px 12px 20px rgba(0, 0, 0, 0.48));
    backdrop-filter: blur(2px);
    @include breakpoints.media-breakpoint-up(lg) {
        width: 540px;
        height: 380px;
    }
}

.terminalText {
    padding: 15px 20px;
}

.toolbox {
    height: 36px;
    width: 100%;
    position: absolute;
    top: 0;
    border-top-right-radius: var(--terminal-radius);
    border-top-left-radius: var(--terminal-radius);
    background-color: var(--terminal-tools-background-color);
    border-bottom: 1px solid var(--terminal-tools-border-color);
}

.toolboxName {
    margin: 0 auto;
    font-weight: var(--font-extra-bold);
    font-size: 0.9em;
}

.toolboxButtons {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.toolboxButtons:hover {
    cursor: move;
}

.closeButton {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.closeButton:hover {
    //filter: invert(1);
    fill: var(--colorBrand);
}

.closeButton svg {
    fill: white;
    //fill: var(--orange);
}

.pulsate {
    animation: pulsate 0.5s ease-in-out infinite both;
}
@keyframes pulsate {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

.terminalCaption {
    padding: 0;
    width: 100%;
    text-align: left;
    line-break: strict;
    white-space: pre-line;
    font-weight: var(--font-medium);
    font-size: 1em;
}
