

.terminal {
    position: fixed;
    border: 1px solid var(--terminal-border-color);
    border-radius: var(--terminal-radius);
    background-color: var(--terminal-background-color);
    width: 460px;
    height: 340px;
    filter: drop-shadow(0px 12px 20px rgba(0, 0, 0, 0.48));
    visibility: hidden;
}

.terminalText {
    padding: 5px 10px;
}

.toolbox {
    height: 36px;
    width: 100%;
    position: absolute;
    top: 0;
    border-top-right-radius: var(--terminal-radius);
    border-top-left-radius: var(--terminal-radius);
    background-color: var(--terminal-tools-background-color);
    border-bottom: 1px solid var(--terminal-tools-border-color);
}

.toolboxName {
    margin: 0 auto;
    font-weight: var(--font-extra-bold);
    font-size: 0.9em;
}

.toolboxButtons {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.toolboxButtons:hover {
    cursor: move;
}

.closeButton {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.closeButton:hover {
    filter: invert(1);
}

.closeButton svg {
    fill: var(--orange);
}

.pulsate {
    animation: pulsate 0.5s ease-in-out infinite both;
}
@keyframes pulsate {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
