body {
    margin: 0;
    font-family: 'JetBrainsMono', monospace;
    background-color: #1a1b1e;
    color: white;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'JetBrainsMono', monospace;
}
