body {
    margin: 0;
    font-family: 'JetBrainsMono', monospace;
    background-color: #1a1b1e;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

code {
    font-family: 'JetBrainsMono', monospace;
}

button {
    font-family: inherit;
}

html {
    -webkit-font-smoothing: antialiased;
}
