@use "src/styles/breakpoints";

.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: space-between;
  /*font-weight: var(--font-extra-bold);*/
  font-weight: var(--font-medium);
  /*text-transform: uppercase;*/
  font-size: 12px;
}

.headerInfo {
  //width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  @include breakpoints.media-breakpoint-up(lg) {
    flex-direction: row;
    padding: 10px 15px;
  }
}

.headerInfoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  @include breakpoints.media-breakpoint-up(lg) {
    padding: 0;
  }
  span {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: inherit;
  }
}

.headerAction {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: opacity .4s ease;
  position: relative;
  z-index: 2;

  &:hover {
    opacity: .6;
  }
}

.infoContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.56);
  backdrop-filter: blur(4px);
  visibility: hidden;
  opacity: 0;
  transition: all .6s ease;
}

.infoContainerVisible {
  visibility: visible;
  opacity: 1;
  transition: all .4s ease;
}

.infoContainerLayout {
  max-width: 768px;
  padding: 60px 20px;
  text-align: left;
}

.socialList {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 4px 0;
  }

  svg {
    width: 14px;
    height: 14px;
  }
}
