@use "src/styles/breakpoints";

.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: space-between;
  font-weight: var(--font-medium);
  font-size: 12px;
  background-color: transparent;
  z-index: 1;
  mix-blend-mode: difference;
}

.headerInfo {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  @include breakpoints.media-breakpoint-up(lg) {
    flex-direction: row;
    padding: 10px 15px;
  }
}

.headerInfoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  mix-blend-mode: difference;
  @include breakpoints.media-breakpoint-up(lg) {
    padding: 0;
  }

  span {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: inherit;
  }
}

.headerAction {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: opacity .4s ease;
  position: relative;
  //z-index: 2;
  font-size: inherit;

  &:hover {
    opacity: .6;
  }
}
