@use "src/styles/breakpoints";

.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: space-between;
  font-weight: var(--font-medium);
  font-size: 10px;
  background-color: transparent;
  z-index: 10;
  mix-blend-mode: difference;
  padding: 5px 10px;
  @include breakpoints.media-breakpoint-up(lg) {
    font-size: 12px;
    padding: 10px 15px;
  }
}

.headerInfo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap);
  @include breakpoints.media-breakpoint-up(lg) {
    flex-direction: row;
    gap: var(--gap);
  }
  @include breakpoints.media-breakpoint-down(lg) {
    > div:nth-child(2) {
      display: none;
    }
  }

  > div:nth-child(3) {
    flex: 1;
  }

  > div:nth-child(4) {
    justify-content: flex-end;
  }
}

.headerInfoCol {
  width: 25%;
  display: flex;
  position: relative;
  padding-left: 2px;
  @include breakpoints.media-breakpoint-up(lg) {
    &:not(:last-child) {
      &:before {
        content: "";
        width: 1px;
        background: gray;
        height: 66px;
        position: absolute;
        left: -4px;
        top: 0;
      }
    }
  }
  svg {
    fill: white;
    width: 101px;
  }
}

.headerAction {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: opacity .4s ease;
  position: relative;
  font-size: inherit;

  &:hover {
    opacity: .6;
  }
}
